@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
  }
}

@layer utilities {
  .background-clip {
    clip-path: polygon(0% 98%, 0% 27%, 100% 3%, 100% 70%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url("./hero-section-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
