@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    /* border: 1px solid red; */
  }
}

@layer utilities {
  .background-clip {
    clip-path: polygon(0% 98%, 0% 27%, 100% 3%, 100% 70%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url("./hero-section-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    padding: 0.5rem 0;
  }

  .input-container input {
    font-size: 1rem;
    padding: 0.5rem 0.4rem;
    padding-left: 0.8rem;
    border: none;
    border-radius: 0.75rem;
    outline: none;
    transition: all 0.2s linear;
    border: 1px solid #61a146;
  }

  .input-container input::placeholder {
    color: #888; /* Placeholder text color */
    font-size: 1rem;
    text-transform: capitalize;
  }

  .input-container label {
    @apply bg-stone-100;
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: 0.8rem;
    position: absolute;
    bottom: 70%;
    opacity: 0;
    transition: all 0.2s linear;
  }

  .input-container input:not(:focus) ~ label {
    transform: translateY(50%);
  }

  .input-container input:focus ~ label {
    transform: translateY(0%);
    opacity: 1;
  }

  .primary-button {
    @apply bg-mantis-500 px-2 py-1 text-stone-100 rounded-md cursor-pointer hover:bg-mantis-400;
  }
}
